@import "tailwindcss";

:root {
  /* UGM brand colors */
  --ugm-blue: #073d61;      /* Biru UGM */
  --ugm-blue-soft: #0c507d; /* varian sedikit lebih terang */
  --ugm-yellow: #f4c522;    /* Kuning UGM */
  --ugm-black: #000000;


  --ugm-bg-light: #f9fafb;  
  --ugm-bg-subtle: #f3f4f6;
  --ugm-border-subtle: #e5e7eb;
  --ugm-text-main: #111827;
  --ugm-text-muted: #6b7280;

  --ugm-success: #15803d;
  --ugm-warning: #f59e0b;
  --ugm-danger: #b91c1c;

  /* Radius & spacing */
  --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  /* Shadow */
  --shadow-soft: 0 10px 25px rgba(15, 23, 42, 0.08);
}
